<a href="https://colab.research.google.com/github/vijay-kumar-18/localrepo/blob/main/python_simple_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 64
y = x**(0.5)
print (y)

8.0

In [ ]:
X = 64
Y = X**(1/3)
print(y)

8.0

In [ ]:
import math
x = 64
y = math.sqrt(x)

print(y)

8.0

In [ ]:
a = 12
b = 14
temp = a
print(temp)

12

In [ ]:
a = b
b = temp

In [ ]:
print(a, b)

14 12

In [ ]:
x = 12
y = 13
x,y = y,x

In [ ]:
print (x, y)

13 12

In [ ]:
new = [12,56,34]
max(new)

56

In [ ]:
max_element =new[0]
for i in new:
  if i > max_element:
    max_element = i
print(max_element)

56

In [ ]:
num = int(input('enter a number to check for prime: '))
if num ==1:
  print('not a prime number')
if num >1:
  for i in range (2, num):
    if num %i ==0:
      print('not prime')
    break
else:
   print ('prime')

enter a number to check for prime: 654
not prime

In [ ]:
lst =[]
num = int(input('enter number that you want to create a list of prime numbers'))
for i in range (2, num):
  is_prime = True
  for j in range (2, int(i**0.5)+1):
    if i %j ==0:
      is_prime = False
      break
  if is_prime:
    lst.append(i)
print(lst)

enter number that you want to create a list of prime numbers25
[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
import random

In [ ]:
num = random.randint(1,20)
print(num)

18

In [ ]:
lst =[]
num = int(input('enter number that you want to create a list of prime numbers'))
for i in range (num+1):
  if i > 1:
    for j in range (2, i):
      if i%j==0:
        break
    else:
      lst.append(i)
print(lst)

enter number that you want to create a list of prime numbers30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
celcius = int(input('enter temperature in celcius: '))
farenhiet = (celcius*1.8)+32
print(farenhiet)

In [ ]:
fact = 1
num = int(input('enter a number for its factorial'))
if num <0:
  print('no factoraial for number less than 0')
if num ==0:
  print('factorial for 0 i 1')
if num >1:
  for i in range(1,num+1):
    fact*=i
print (fact)

enter a number for its factorial5
120

In [ ]:
def fact (n):
  if n ==0:
    return 0
  elif n ==1:
    return 1
  else:
    return n*fact(n-1)

In [ ]:
fact (6)

720

In [ ]:
n =8
for i in range(1,11):
  print (n,'x',i, '=' , n*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
n = 7
i= 1
while i <=10:
  print(n, 'x', i,'=', n*i)
  i+=1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# finbonacci series
a = 0
b = 1
num = int(input('enter a number to get the series'))
if num ==1:
  print(a)
else:
  print (a)
  print(b)
  for i in range (1, num+1):
    c = a+b
    a = b
    b = c
    print(c)

enter a number to get the series8
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Armstrong number eg. 153 = (1**3)+(5**3)+(3**3) or 1536 = (1**4)+(5**4)+(3**4)+(6**4)
num = int(input('enter a number to check for armstrong'))
order = len(str(num))
sum = 0
temp = num
while temp >0:
  digit = temp%10
  cube = digit**order
  sum = sum +cube
  temp//=10
if sum == num:
  print ('it is an armstrong number')
else:
  print('not a armstrong number')

enter a number to check for armstrong153
it is an armstrong number

In [ ]:
lower = int(input('enter the lower limit of the range: '))
upper = int(input('enter the upper limit of the range: '))
for num in range (lower, upper+1):
  order = len(str(num))
  sum =0
  temp =num
  while temp >0:
    digit = temp%10
    cube = digit** order
    sum = sum+cube
    temp//=10
  if sum == num:
    print(num)

enter the lower limit of the range: 100
enter the upper limit of the range: 1000
153
370
371
407

In [ ]:
#sum of natural numbers
num = int(input('enter a number here: '))
if num < 0:
  print ('enter positive number')
else:
  sum =0
  while num >0:
    sum=sum+num
    num =num-1
  print(sum)

enter a number here: 8
36

In [ ]:
nterms = int(input('entr number of terms here: '))
result = list(map(lambda x : 2**x, range (nterms+1)))
print (result)

entr number of terms here: 5
[1, 2, 4, 8, 16, 32]

In [ ]:
for i in range(nterms+1):
  print (result[i])

1
2
4
8
16
32

In [ ]:
#number divisible by another number
for i in range (1,100):
  if i %13 ==0:
    print(i)

13
26
39
52
65
78
91

In [ ]:
l=[39,48,26,98,33,67,87]
result = list(filter(lambda x: x%13==0, l))
print(result)

[39, 26]

In [ ]:
#decimal number to binary, octal, and hexadecimal
decimal = 12
print(bin(decimal))
print(oct(decimal))
print(hex(decimal))

0b1100
0o14
0xc

In [ ]:
# find the ASCII values of 128 letters and number
char ='@'
print(ord(char))

64

In [ ]:
#HCF
def find_hcf(x,y):
  if x>y:
    smaller = Y
  else:
    smaller = x
  for i in range(1, smaller+1):
    if ((x%i==0) and (y%i==0)):
      hcf = i
  return hcf

print(find_hcf(12,30))

6

In [ ]:
#factors of a number
num = 12
for i in range(1,num+1):
  if num%i==0:
    print(i)

1
2
3
4
6
12

In [ ]:
  x=int(input('enter the first number'))
  y = int(input('enter the second number'))

  choice = input('specify your operators + - * /')
  if choice == '+':
    result = x+y
  elif choice == '-':
    result = x-Y
  elif choice == '*':
    result = x*y
  else:
    result =x/y

  print(result)

enter the first number564
enter the second number2
specify your operators + - * /+
566

In [ ]:
import calendar
year = int(input('enter the year'))
month = int(input('enter the month'))

calendr = calendar.month(year, month)
print(calendr)

enter the year1981
enter the month9
   September 1981
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
def fibo(n):
  if n <=1:
    return n
  else:
    return fibo(n-1)+fibo(n-2)

n = int(input('Enter a number'))
if n <=0:
  print ('Enter positive number')
else:
  print('Fibo sequence')
  for i in range(n):
    print (fibo(i))

Enter a number6
Fibo sequence
0
1
1
2
3
5

In [ ]:
def NaturalNumSum(n):
  if n <=1:
    return n
  else:
    return (n)+NaturalNumSum(n-1)

n = int(input('Enter a number'))
if n <=0:
  print ('Enter positive number')
else:
  print('Sum of Natural number')
  for i in range(n):
    print (fibo(i))

Enter a number5
Sum of Natural number
0
1
1
2
3

In [ ]:
NaturalNumSum(5)

15

In [ ]:
def fact(n):
  if n ==1:
    return 1
  else:
    return n*fact(n-1)

In [ ]:
fact(5)

120

In [ ]:
a = 'madam'
rev = a[::-1]

if a == rev:
  print('palindrom')
else:
  print ('no palindrom')

palindrom

In [ ]:
a[:2:-1]

'ma'

In [ ]:
sentence = 'Harry Potter and the Goblet of Fire'
words = sentence.split()

In [ ]:
words

['Harry', 'Potter', 'and', 'the', 'Goblet', 'of', 'Fire']

In [ ]:
for i in range(len(words)):
  words[i] = words[i].lower()

In [ ]:
words

['harry', 'potter', 'and', 'the', 'goblet', 'of', 'fire']

In [ ]:
words.sort()

In [ ]:
words

['and', 'fire', 'goblet', 'harry', 'of', 'potter', 'the']

In [ ]:
def is_palindrome(number):
    # Convert the number to a string and check if it reads the same backward
    return str(number) == str(number)[::-1]

def find_palindromes(start, end):
    palindromes = []
    for num in range(start, end + 1):
        if is_palindrome(num):
            palindromes.append(num)
    return palindromes

start_range = 9990000000
end_range = 9999999999

palindrome_numbers = find_palindromes(start_range, end_range)

In [ ]:
# Count the number of vowels in a sentence

a = "Harry poter and the Goblet of Fire"
vowels = "aeiou"

a=a.casefold()
count = {}.fromkeys(vowels,0)

for char in a:
  if char in count:
    count[char]+=1

print (count)

{'a': 2, 'e': 4, 'i': 1, 'o': 3, 'u': 0}

In [ ]:
#Dictionary comprehension
count = {key:sum([1 for char in a if char == key]) for key in vowels}

print (count)

{'a': 2, 'e': 4, 'i': 1, 'o': 3, 'u': 0}

In [ ]:
#Accessing Index of List using for Loop
# Enumerate method
list1 = [25,35,45,55,65]

for key, value in enumerate(list1):
  print(key,value)

0 25
1 35
2 45
3 55
4 65

In [ ]:
#without enumarate method
for index in range (len(list1)):
  value = list1[index]
  print(index, value)

0 25
1 35
2 45
3 55
4 65

In [ ]:
print(list1[3])

55

In [ ]:
friends ={'one':'vijay','two':'kumar','three':'sona','four':'yaash'}
for i in friends.items():
  print (i)

('one', 'vijay')
('two', 'kumar')
('three', 'sona')
('four', 'yaash')

In [ ]:
for key,value in friends.items():
  print(key, value)

one vijay
two kumar
three sona
four yaash

In [ ]:
for key in friends:
  print(key, friends[key])

one vijay
two kumar
three sona
four yaash

In [ ]:
for key in friends.keys():
  print(key)

one
two
three
four

In [ ]:
for i in friends.values():
  print(i)

vijay
kumar
sona
yaash

In [ ]:
marks ={'one':10,'two': 5,'three':14,'four':2}
sorted_value = sorted(marks.items(), key = lambda x:x[1])
sorted_keys = sorted(marks.items(), key = lambda x:x[0])
print(sorted_value)
print(sorted_keys)

[('four', 2), ('two', 5), ('one', 10), ('three', 14)]
[('four', 2), ('one', 10), ('three', 14), ('two', 5)]

In [ ]:
sv = sorted(marks.values())
print(sv)

[2, 5, 10, 14]

In [ ]:
sk = sorted(marks.keys())
print(sk)

['four', 'one', 'three', 'two']

In [ ]:
#How to Check if a List is Empty in Python
my_list = []
print(len(my_list))
if len(my_list)==0:
  print('the list is empty')

0
the list is empty

In [ ]:
if my_list==[]:
  print('the list is empty')

the list is empty

In [ ]:
if not my_list:
  print('the list is empty')

the list is empty

In [ ]:
#Catch Multiple Exception Handling
try:
  string = input('enter something here: ')
  num = int(input('enter a number here: '))
except (ValueError, TypeError) as a:
  print(a)

print('Thank you')

enter something here: vijay
enter a number here: 10
Thank you

In [ ]:
#How to Concatenate Two List Using Python Codes
l1 = [3,6,8,2,"a","j"]
l2 = [3,6,"k","f","j"]
l3 = l1+l2
print (l3)

[3, 6, 8, 2, 'a', 'j', 3, 6, 'k', 'f', 'j']

In [ ]:
#print unique elements after concatenating
l4 = list(set(l1+l2))
print(l4)

[2, 3, 6, 8, 'a', 'f', 'k', 'j']

In [ ]:
l5 = l1.extend(l2)
print(l5)

None

In [ ]:
#Python Program to Check if a Key is Already Present in a Dictionary

name = 'three'
if name in friends.keys():
  print("name is present")
else:
  print('no name')

name is present

In [ ]:
#How to Convert String to DateTime using Python Codes
from datetime import datetime
date = "Oct 14 1997 7:15 AM"
print(type(date))

date_time = datetime.strptime(date, "%b %d %Y %I:%M%p")
print (date_time)
print(type(date_time))

<class 'str'>

ValueError: ignored

In [ ]:
from dateutil import parser
date_time = parser.parse("Oct 14 1997 7:15 AM")
print(date_time)

1997-10-14 07:15:00

In [ ]:
#Python Program to Get the Last Element of the List
avengers = ['thor','spider','hulk', 'ironman']
print(avengers[-1])

ironman

In [ ]:
#How to Print Output Without a Newline
print('harry potter and', end =" ")
print('goblet of fire')

harry potter and goblet of fire

In [ ]:
#How to Check if a String is a Valid Keyword or Not
import keyword
words = ['break', 'john', 'continue', 'for','global','was']
for i in range (len(words)):
  if keyword.iskeyword(words[i]):
    print(words[i], '-', 'keyword')
  else:
    print(words[i], '-', 'non')

break - keyword
john - non
continue - keyword
for - keyword
global - keyword
was - non

In [ ]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Python Iterators with Function
string = "madona sabastin"
iterate = iter(string)

print(iterate.__next__())
print(iterate.__next__())
print(iterate.__next__())
print(iterate.__next__())
print(iterate.__next__())

m
a
d
o
n

In [ ]:
class fantastic_five:
  def __init__(self):
    self.num = 1

  def __iter__(self):
    return self

  def __next__(self):
    if self.num<=5:
      value = self.num
      self.num+=1
      return value
    else:
      raise StopIteration

FF = fantastic_five()

In [ ]:
print(FF)

<__main__.fantastic_five object at 0x7d96faa47b50>

In [ ]:
for i in FF:
  print (i)

1
2
3
4
5

In [2]:
#Python List Comprehension
a = ['hulk','ironman','thor','vision']
for i in a:
  print (i.upper())

HULK
IRONMAN
THOR
VISION

In [ ]:
comprehen_list = [i.upper() for i in a]
print(comprehen_list)

['HULK', 'IRONMAN', 'THOR', 'VISION']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]